<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="left-side">
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <li class="menu-title">Navigation</li>

                    <li>
                        <a href="/">
                            <i class="la la-dashboard"></i>
                            <span class="badge badge-info badge-pill float-right">2</span>
                            <span> Dashboards </span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="la la-cube"></i>
                            <span> Customer </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul aria-expanded="false" class="nav-second-level">
                            <li>
                                <a href="/customer">All customers</a>
                            </li>
                            <li>
                                <a href="/customer/create">New customer</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="la la-clone"></i>
                            <span> Transfer </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul aria-expanded="false" class="nav-second-level">
                            <li>
                                <a href="/transfer">Transfer history</a>
                            </li>
                            <li>
                                <a href="/transfer/create">New transfer</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
</th:block>
</html>