<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="input-balance(balance)">
  <div th:if="${view}=='edit'" class="row col-lg-12">
    <div class="form-group mb-3 col-lg-6">
      <label for="inputBalance">Balance</label>
      <input type="number"
             step="any"
             id="inputBalance"
             class="form-control"
             placeholder="Balance..."
             th:value="${#numbers.formatInteger(balance,3)}"
             name="balance">
    </div>
  </div>
</th:block>
</html>